<div class="row justify-content-center mt-5">
  <div class="card" id="login-card">
    <div class="card-header">
      Zaloguj się
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="username">Użytkownik: <span *ngIf="loginForm.get('username').invalid"
                                                  class="invalid-form-value">*</span></label>
          <input type="text" class="form-control" id="username" placeholder="Użytkownik" formControlName="username">
        </div>
        <div class="form-group">
          <label for="password">Hasło: <span *ngIf="loginForm.get('password').invalid"
                                            class="invalid-form-value">*</span></label>
          <input id="password" type="password" formControlName="password" class="form-control" placeholder="Hasło">
        </div>
        <div class="row invalid-credentials" *ngIf="invalidCredential">
          Nieprawidłowe dane logowania
        </div>
        <div class="row justify-content-center">
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-dark" id="login-button"
                  (click)="onSubmit()">Zaloguj
          </button>
        </div>
      </form>
      <div class="row justify-content-end mt-2 mr-2">
        <a class="nav-link" routerLink="/auth/registration">Nie masz konta? Zarejestruj się</a>
      </div>
    </div>
  </div>
</div>
