.main-nav {
  display: flex;
  justify-content: space-between;
}

.logged {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.navbar-text {
  margin-right: 2%;
}

.logout {
  cursor: pointer;
}
