<nav class="navbar navbar-dark bg-dark main-nav">
  <div>
    <a class="navbar-brand" routerLink="/">Wydatex - zarządzaj wydatkami</a>
  </div>
  <div *ngIf="authenticationService.isLogged(); else notLogged" class="logged">
    <span class="navbar-text">
      Zalogowany jako: {{authenticationService.getCurrent().displayName.firstname}}
    </span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link logout" (click)="authenticationService.logout()">Wyloguj</a>
      </li>
    </ul>
  </div>
  <ng-template #notLogged>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Zaloguj</a>
      </li>
    </ul>
  </ng-template>
</nav>

