<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               [disableClose]="!screnSizeService.isMobile"
               [fixedInViewport]="true"
               [fixedTopGap]="screnSizeService.isMobile ? 0 : 64"
               [mode]="screnSizeService.isMobile ? 'over' : 'side'"
               [opened]="!screnSizeService.isMobile"
               class="sidenav">
    <app-navbar></app-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

