<div class="row justify-content-center mt-5">
  <div class="card" id="register-card">
    <div class="card-header">
      Zarejestruj się
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label for="email">Email: <span *ngIf="registerForm.get('email').invalid"
                                               class="invalid-form-value">*</span></label>
          <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Hasło: <span *ngIf="registerForm.get('password').invalid"
                                             class="invalid-form-value">*</span></label>
          <input id="password" type="password" formControlName="password" class="form-control" placeholder="Hasło">
        </div>
        <div class="form-group">
          <label for="firstName">Imię: <span *ngIf="registerForm.get('firstName').invalid"
                                             class="invalid-form-value">*</span></label>
          <input id="firstName" type="text" formControlName="firstName" class="form-control"
                 placeholder="Imię">
        </div>
        <div class="form-group">
          <label for="lastName">Nazwisko: <span *ngIf="registerForm.get('lastName').invalid"
                                                class="invalid-form-value">*</span></label>
          <input id="lastName" type="text" formControlName="lastName" class="form-control"
                 placeholder="Nazwisko">
        </div>
        <div *ngIf="emailAlreadyExist" class="invalid-form-value">
          Podany email jest już zajęty
        </div>
        <div class="row justify-content-center">
          <button [disabled]="!registerForm.valid" type="submit" class="btn btn-dark" id="login-button"
                  (click)="onSubmit()">Zarejestruj
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
