<div class="row justify-content-around">
  <div>
    <mat-label>Początek: </mat-label>
    <input matInput [matDatepicker]="startDatePicker" [matDatepickerFilter]="startDateFilter" [(ngModel)]="startDate" (dateChange)="onStartDateChanged()">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </div>

  <div>
    <mat-label>Koniec: </mat-label>
    <input matInput [matDatepicker]="endDatePicker" [matDatepickerFilter]="endDateFilter" [(ngModel)]="endDate" (dateChange)="onEndDateChanged()">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </div>
</div>
