<app-come-date-picker
  [startDate]="startDate"
  [endDate]="endDate"
  (startDateEventEmitter)="onStartDayChanged($event)"
  (endDateEventEmitter)="onEndDayChanged($event)"
></app-come-date-picker>
<ng-container *ngIf="comes$ | async as comes">
  <app-come-list [comes]="comes">
  </app-come-list>
</ng-container>
