<div class="row justify-content-center mt-5">
  <ng-container *ngIf="isDone">
    <div class="card">
      <div class="card-header">Potwierdzenie konta</div>
      <div class="card-body">
        <ng-container *ngIf="isConfirmed">
          <h3>Udało się potwierdzić konto, możesz się teraz zalogować</h3>
        </ng-container>
        <ng-container *ngIf="!isConfirmed">
          <h3 class="red">Link do potwierdzenia konta wygasł lub jest nieprawidłowy.</h3>
          <form [formGroup]="resendCodeForm" *ngIf="!emailSubmitted">
            <div class="form-group">
              <label for="email">Email: <span *ngIf="resendCodeForm.get('email').invalid"
                                              class="invalid-form-value">*</span></label>
              <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
            </div>
            <div class="row justify-content-center">
              <button [disabled]="!resendCodeForm.valid" type="submit" class="btn btn-dark" id="resend-button"
                      (click)="onSubmit()">Wyślij kod ponownie
              </button>
            </div>
          </form>
          <div *ngIf="emailSubmitted">
            <h3>Na skrzynkę email został wysłany nowy kod weryfikacyjny</h3>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isDone">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow d-flex align-content-center spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
</div>

