<div class="row justify-content-center mt-5">
  <div class="card" style="width: 50rem;">
    <div class="card-header">
      Rejestracja przebiegła pomyślnie
    </div>
    <div class="card-body">
      <h3>Dziękujemy za założenie konta, na Twoją skrzynkę pocztową został wysłany link, którym mozesz potwierdzić konto.</h3>
    </div>
  </div>
</div>

