<div class="container-fluid">
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard">Podsumowanie</a>
    <a mat-list-item routerLink="/incomes">Przychody</a>
    <a mat-list-item routerLink="/outcomes">Wydatki</a>
  </mat-nav-list>
</div>
